<header>
    <img src="./assets/img/logo-white.png" alt="Icon">
    <div class="navBar">
        <img *ngIf="!navbarOpen" src="./assets/img/icons/menu-icon.png" alt="Icon" class="profileImg" (click)="toggleNavbar()">
        <a>About me</a>
        <a>Skills</a>
        <a>Portfolio</a>
    </div>
    <div class=" navbar-menu " [ngClass]="{ 'open': navbarOpen } ">
        <img src="./assets/img/icons/menu-icon-close.png" (click)="toggleNavbar()">
        <a (click)="toggleNavbar()">About me</a>
        <a (click)="toggleNavbar()">Skills</a>
        <a (click)="toggleNavbar()">Portfolio</a>
    </div>
</header>