<header>
  <a routerLink="/" (click)="scrollToTop()" *ngIf="!navbarOpen"
    ><img src="./assets/img/logo-white.png" alt="Icon"
  /></a>
  <div class="navBar">
    <img
      *ngIf="!navbarOpen"
      src="./assets/img/icons/menu-icon.png"
      alt="Icon"
      class="profileImg"
      (click)="toggleNavbar()"
    />
    <a href="#about-me" class="headlink">About me</a>
    <a href="#my-skills" class="headlink">Skills</a>
    <a href="#portfolio" class="headlink">Portfolio</a>
  </div>
  <div class="navbar-menu" [ngClass]="{ open: navbarOpen }">
    <img
      (click)="toggleNavbar()"
      (click)="scrollToTop()"
      class="navbar-menu-logo"
      src="./assets/img/logo-white.png"
      alt="Icon"
    />
    <img
      class=""
      src="./assets/img/icons/menu-icon-close.png"
      (click)="toggleNavbar()"
    />
    <a href="#about-me" class="headlinkResponsive" (click)="toggleNavbar()"
      >About me</a
    >
    <a href="#my-skills" class="headlinkResponsive" (click)="toggleNavbar()"
      >Skills</a
    >
    <a href="#portfolio" class="headlinkResponsive" (click)="toggleNavbar()"
      >Portfolio</a
    >
  </div>
</header>
