header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #141D2F;
    padding: 5px 100px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    a {
        color: white;
        text-decoration: none;
        margin-left: 32px;
        font-size: 22px;
        &:hover {
            color: #1CDAE6;
            cursor: pointer;
        }
    }
    img {
        height: 50px;
        &:hover {
            cursor: pointer;
        }
    }
}