<footer>
  <div class="logoContainer">
    <a routerLink="/" (click)="scrollToTop()"
      ><img src="./assets/img/logo-white.png" alt="Icon"
    /></a>
    <a routerLink="imprint" class="imprint">Imprint</a>
  </div>

  <div class="midDivContainer d-flex column">
    <div>
      <img src="./assets/img/icons/copyright.png" alt="" />
      <span>Georgios Koinaris 2023</span>
    </div>
    <p>Logo made with: LogoMakr.com</p>
  </div>

  <div class="iconsContainer">
    <a href="https://github.com/GeorgiosKoinaris" target="_blank"
      ><img src="./assets/img/social-buttons/github.png" alt=""
    /></a>
    <a href="mailto:g.koinaris@gmail.com"
      ><img src="./assets/img/social-buttons/mail.png" alt="" />
    </a>
    <a
      href="https://www.linkedin.com/in/georgios-koinaris-56591a277/"
      target="_blank"
      ><img src="./assets/img/social-buttons/linkedin.png" alt=""
    /></a>
  </div>
</footer>
