<div class="containerHidden">
  <div
    data-aos="fade-left"
    data-aos-offset="450"
    data-aos-duration="1300"
    class="aboutMeSection containerPadding marginTopBottomBig bigMarginBottom"
  >
    <div class="text-container">
      <h2>About me</h2>

      <div>
        Hello, I'm a Front-end Developer based in Lindau, Germany. My journey
        into programming began as a personal challenge, and what I find most
        appealing about it is the impact it has on a website's appearance with
        just a few lines of code.
      </div>

      <div>
        <img src="./assets/img/icons/bulb.png" alt="" />
        <span
          >My passion for programming led me to pursue formal education in
          software development. I enrolled in the Developer Akademy, where I
          gained valuable experience working on a variety of projects, both
          independently and as part of a team.
        </span>
      </div>

      <div>
        <img src="./assets/img/icons/puzzle.png" alt="" />
        <span
          >I am eager to further expand my expertise in frontend development and
          I am actively seeking opportunities as a Junior Web Developer to
          advance my career in this field. If you believe I could be a valuable
          addition to your team, don't hesitate to get in touch.</span
        >
      </div>
    </div>

    <div class="imgLineContainer">
      <img src="./assets/img/picture2.png" alt="" />
    </div>
  </div>
</div>
