<div class="projectContainer containerPadding">

    <div class="imageContainer">
        <img src="./assets/img/projects/join.png" alt="">
    </div>

    <div class="textContainer">
        <h3>Join</h3>
        <span class="secondTitle">JavaScript | HTML | CSS</span>
        <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. .</span>
        <div>
            <button class="button1">Live test</button>
            <button class="button2"> Github</button>
        </div>
    </div>

</div>