<div
  data-aos="fade-up"
  data-aos-offset="300"
  data-aos-duration="1500"
  class="projectContainer containerPadding"
>
  <div class="imageContainer">
    <img src="./assets/img/projects/join.png" alt="" />
  </div>

  <div class="textContainer">
    <h3>Join</h3>
    <span class="secondTitle">JavaScript | HTML | CSS</span>
    <span
      >Task manager inspired by the Kanban System. Create and organize tasks
      using drag and drop functions, assign users and categories.</span
    >
    <div>
      <a href="http://georgios-koinaris.com/join/index.html" target="_blank"
        ><button class="button1">Live test</button></a
      >
      <a href="https://github.com/GeorgiosKoinaris/Join" target="_blank"
        ><button class="button2">Github</button></a
      >
    </div>
  </div>
</div>
