<div class="projectContainer containerPadding bigMarginBottom">
  <div class="imageContainer">
    <img src="./assets/img/projects/homepage.png" alt="" />
  </div>

  <div class="textContainer">
    <h3>Homepage</h3>
    <span class="secondTitle">Angular | TypeScript | SCSS</span>
    <span>An Angular based website implemented with Angular Material</span>
    <div>
      <button (click)="scrollToTop()" class="button1">Live test</button>
      <a
        href="https://github.com/GeorgiosKoinaris/georgios-koinaris.de"
        target="_blank"
        ><button class="button2">Github</button></a
      >
    </div>
  </div>
</div>
