<div class="containerHidden">
  <div
    data-aos="fade-left"
    data-aos-offset="200"
    data-aos-duration="1300"
    class="section-title"
  >
    <h2>Portfolio</h2>
  </div>
  <span
    data-aos="fade-left"
    data-aos-offset="200"
    data-aos-duration="1300"
    class="d-flex jc-center containerPadding"
    >This page is a sample of my work - please feel free to try them out.</span
  >
</div>

<app-project-join></app-project-join>
<app-project-sharkie></app-project-sharkie>
<app-project-dabubble></app-project-dabubble>
<app-project-homepage></app-project-homepage>
