<div class="coverSection">
    <div>
        <img class="profileImg" src="./assets/img/test-img.png" alt="Profile Picture">
    </div>
    <div class="textSection">
        <div class="frame1">
            <span class="firstText">I am</span>
            <div class="frame2">
                <span class="secondText">Georgios Koinaris</span>
                <span class="thirdText">FRONTEND DEVELOPER</span>
                <button>Let´s talk!</button>
            </div>

        </div>
    </div>
</div>