<div class="containerPadding">
  <div class="profileSection">
    <div class="imgContainer">
      <img
        class="profileImg"
        src="./assets/img/picture1.png"
        alt="Profile Picture"
      />
    </div>
    <div class="textSection">
      <div class="frame1">
        <span class="firstText">I am</span>
        <div class="frame2">
          <span class="secondText">Georgios Koinaris</span>
          <span class="thirdText">FRONTEND DEVELOPER</span>
        </div>
      </div>
      <a href="#contact"><button>Let´s talk!</button></a>
    </div>
  </div>
</div>

<div class="contactPossibilities">
  <div class="contacts">
    <div class="line"></div>
    <a href="https://github.com/GeorgiosKoinaris" target="_blank"
      ><img src="./assets/img/social-buttons/github.png" alt=""
    /></a>
    <a href="mailto:mail@georgios-koinaris.com"
      ><img src="./assets/img/social-buttons/mail.png" alt=""
    /></a>
    <a href="https://www.linkedin.com/in/georgios-koinaris/" target="_blank"
      ><img src="./assets/img/social-buttons/linkedin.png" alt=""
    /></a>
    <a class="mailContact" href="#contact">mail@georgios-koinaris.com</a>
  </div>
</div>

<div class="bigBar">
  <img src="./assets/img/big-bar.png" alt="Big Bar" />
</div>

<app-about-me id="about-me"></app-about-me>
<app-my-skills id="my-skills"></app-my-skills>
<app-portfolio id="portfolio"></app-portfolio>
<app-contact id="contact"></app-contact>
