<div class="coverSection">
    <div class="imgContainer">
        <img class="profileImg" src="./assets/img/test-img.png" alt="Profile Picture">
        <img class="profileImgBg" src="./assets/img/background-colors/group-shadow.png" alt="Big Bar">
    </div>
    <div class="textSection">
        <div class="frame1">
            <span class="firstText">I am</span>
            <div class="frame2">
                <span class="secondText">Georgios Koinaris</span>
                <span class="thirdText">FRONTEND DEVELOPER</span>
                <button>Let´s talk!</button>
            </div>

        </div>
    </div>
</div>
<div class="bigBar">
    <img src="./assets/img/big-bar.png" alt="Big Bar">
</div>