/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    color: white;
    background-color: #141D2F;
}

.containerPadding {
    padding: 35px 100px;
}

.d-flex {
    display: flex;
}

.jc-center {
    justify-content: center;
}

.jc-space-between {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}