html,
body {
    height: 100%;
    color: white;
    background-color: #141D2F;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.containerPadding {
    padding: 35px 100px;
}

.marginTopBottomBig {
    margin-top: 50px;
    margin-bottom: 50px;
}

.d-flex {
    display: flex;
}

.jc-center {
    justify-content: center;
}

.jc-space-between {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

//////////////////// material-design redesigned classes////////////////
.mat-mdc-text-field-wrapper {
    border-radius: 10px !important;
    border: 2px solid #4B47FF !important;
    background-color: #141D2F !important;
}

.mdc-line-ripple {
    display: none;
}

.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: white !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: white !important;
}

.mat-mdc-form-field-error {
    color: red !important;
    font-size: 12px;
}

.mdc-text-field__input {
    caret-color: white !important;
}

.mdc-text-field--invalid .mdc-text-field__input {
    caret-color: white !important;
}